body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content{
    display: flex;
    justify-content: flex-end;
}

.logoImg{
    height: 6rem;
    width: 6rem;
}

.frame1{
    height: 100vh;
    width: 100vw;
    background-color: inherit;
}

.frame2{
    background-color: #434141;
}

.greenCircle{
    top: 5rem;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    background-color: aquamarine;
    position: absolute;
    z-index: -5;
    left: 13.5rem;
}

.greenCircleLower{
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    background-color: aquamarine;
    position: relative;
    z-index: -10;
    left: 47.5rem;
}

.greyCircle{
    position: relative;
    z-index: -5;
    height: 37%;
    width: 37%;
    top: 14rem;
    left: 3rem;
}

.signUp, .logIn {
    padding: 0.5rem;
    background: #434141;
    border: 0;
    height: 2rem;
    width: 6rem;
    font-size: 100%;
    border-radius: 25px;
    cursor: pointer;
}

.signUp, .logIn:hover {
    border: 2px solid black;
    color: #ffffff;
    font-size: 105%;
    transition: 1s;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12rem;
    height: 7rem;
    max-width: 100%;
    z-index: 5;
}

.navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.navItem {
    cursor: pointer;
    color: #444;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 105%;
}

.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 37rem;
}

.para{
    margin: 0;
    margin-right: 2rem;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    line-height: 2.5rem;
}

.sies{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 5rem;
    font-weight: 500;
    font-size: large;
}

.siesImage{
    position: relative;
    width: 17rem;
}

.siesText{
    font-size: 25px;
}