.a{
    font-weight: 1000;
    font-size: 35px;
}

.b{
    font-weight: 1000;
    font-size: 50px;
}

.blogName{
    width: 50%;
    display: flex;
    justify-content: center;
}

.blogLink{
    width: 50%;
    display: flex;
    justify-content: center;
}

.brownCircle{
    height: 10rem;
    width: 15rem;
    z-index: -5;
    left: 23rem;
    position: absolute;
    top: 150rem;
    z-index: -15;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.circle1{
    height: 32px;
    width: 30px;
}

.content{
    display: flex;
    justify-content: flex-end;
}

.courses{
    font-weight: 1000;
    font-size: 55px;
    color: #59DEAE;
}

.course{
    font-weight: 1000;
    font-size: 35px;
    color: #59DEAE;
}

.coursef3{
    font-weight: 1000;
    font-size: 50px;
    color: white;
}

.examName{
    width: 50%;
    display: flex;
    justify-content: center;
}

.f5ExamName{
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    font-size: 20px;
}

.f5RegLink{
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    font-size: 20px;
}

.f5BlogName{
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    font-size: 20px;
    color: white;
}

.f5BlogLink{
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    font-size: 20px;
    color: white;
}

.firstPara{
    font-weight: 800;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
}

.firstParaf3{
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    font-size: 20px;
}

.frame1{
    height: 63vh;
    width: 100vw;
    background-color: inherit;
    z-index: 10;
}

.frame2{
    height: 125vh;
    width: 100vw;
    background-image: url(image\ 1.png);
    opacity: 1;
    z-index: -10;
}

.frame3{
    height: 100vh;
    width: 100vw;
    background-image: url(frame3bg.png);
}

.frame3{
    height: 100vh;
    width: 100vw;
}

.frame5{
    display: flex;
    flex-direction: row;
}

.greenCircle{
    top: 5rem;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    background-color: aquamarine;
    position: absolute;
    z-index: -5;
    left: 13.5rem;
}

.greenCircleLower{
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    background-color: aquamarine;
    position: relative;
    z-index: -2;
    left: 47.5rem;
}

.greenCircleF4{
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: 114rem;
    z-index: -5;
    left: 43rem;
}

.greyCircle{
    position: relative;
    z-index: -2;
    height: 37%;
    width: 37%;
    top: 14rem;
    left: 3rem;
}

.heading1{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}

.heading2{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-self:flex-start;
    justify-content: center;
    margin-left: 10%;
}

.heading3{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items:end;
}

.heading4{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items:end;
    justify-content: center;
}

.heading5{
    column-gap: 10px;
    align-items:end;
    justify-content: center;
    font-weight: 1000;
    font-size: 50px;
    color: aquamarine;
}

.heading6{
    column-gap: 10px;
    align-items:end;
    justify-content: center;
    font-weight: 1000;
    font-size: 50px;
}

.heading7{
    display: flex;
    flex-direction: row;
}

.journey{
    margin-top: 3rem;
    font-weight: 1000;
    font-size: 55px;
    color: #2E160E;
}

.left{
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftContentf5{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    width: 100%;
    margin: 3rem;
}

.logoImg{
    height: 6rem;
    width: 6rem;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12rem;
    height: 7rem;
    max-width: 100%;
    z-index: 5;
}

.navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.navItem {
    cursor: pointer;
    color: #444;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 105%;
}

.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 37rem;
}

.our{
    font-weight: 1000;
    font-size: 55px;
}

.para{
    margin: 0;
    margin-right: 2rem;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    line-height: 2.5rem;
}

.photof4{
    display: flex;
    justify-content: center;
}

.photoActualF4{
    margin-top: 8rem;
    height: 350px;
    width: 900px;
}

.registrationLink{
    width: 50%;
    display: flex;
    justify-content: center;
}

.right{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    background: #59DEAE;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightContentf5{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    width: 100%;
    margin: 3rem;
}

.secondPara{
    font-weight: 800;
    line-height: 2rem;
    justify-content: center;
    margin-left: 12.5%;
}

.sies{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 5rem;
    font-weight: 500;
    font-size: large;
}

.siesImage{
    position: relative;
    width: 17rem;
}

.siesText{
    font-size: 25px;
}

.signUp, .logIn {
    padding: 0.5rem;
    background: #434141;
    border: 0;
    height: 2rem;
    width: 6rem;
    font-size: 100%;
    border-radius: 25px;
    cursor: pointer;
}

.signUp:hover, .logIn:hover {
    border: 2px solid black;
    color: #ffffff;
    font-size: 105%;
    transition: 1s;
}

.sixCircles{
    align-self: flex-end;
}

.textFrame2{
    position: absolute;
    top: 35rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.textFrame3{
    position: absolute;
    top: 80rem;
    margin-left: 7%;
}

.your{
    font-weight: 1000;
    font-size: 55px;
    color: #2E160E;
}